<%= form_with model: role do |form| %>

  <div>

    <div class="mb-2">
      <div class="row g-3">
        <div class="col-sm-3">
          <%= form.select :status, ["Lead", "Interviewing", "Waiting", "Bailed"] %>
        </div>

        <div class="col-sm">
          <%= form.text_field :title, { class: "form-control", placeholder: "title of the role" } %>
          <% role.errors.full_messages_for(:title).each do |message| %>
            <div class="message"><%= message %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="mb-2">
      <%= form.text_area :notes, { class: "form-control", placeholder: "notes" } %>
      <% role.errors.full_messages_for(:notes).each do |message| %>
        <div class="message"><%= message %></div>
      <% end %>
    </div>

    <div class="mb-2">
      <%= form.text_area :url, { class: "form-control", placeholder: "URL to the role description" } %>
      <% role.errors.full_messages_for(:url).each do |message| %>
        <div class="message"><%= message %></div>
      <% end %>
    </div>

    <div class="btn-group" role="group">
      <%= form.submit "Save", class: "btn btn-secondary btn-sm" %>
      <%= link_to "Cancel", role, class: "btn btn-dark btn-sm" %>
    </div>
  </div>

<% end %>