<div class="col">  
  <div class="card text-bg-dark mb-3" style="max-width: 20rem;">
    <a href="<%= role_path(role) %>">
      <div class="card-header">
        <h5><%= role.title %></h5>
      </div>
      
      <div class="card-body">
        <small class="badge pill bg-secondary role-status-<%= role.status.downcase %>">
          <%= role.status %>
        </small>
        <p class="card-text"><%= role.notes.truncate(100) %></p>
      </div>
      <div class="card-footer text-end">

        <div class="row">
          <div class="col-sm text-start">
            <span class="role-updated-at">
              <%= role.logentries.count %> log entries
            </span>
          </div>
          <div class="col-sm text-end">
            <span class="role-updated-at">
              <%= distance_of_time_in_words(role.updated_at, Time.now) %>
            </span>
          </div>
        </div>

      </div>
    </a>
  </div>
  
</div>