<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
   <li class="breadcrumb-item">
      <a class="link-body-emphasis fw-semibold text-decoration-none" href="/">Roles</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Listing
    </li>
  </ol>
</nav>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <% @roles.each do |role| %>
        <div class="col">
          
          <div class="card text-bg-dark mb-3" style="max-width: 20rem;">
            <a href="<%= role_path(role) %>">
              <div class="card-header"><%= role.title %></div>
              
              <div class="card-body">
                <small class="badge pill bg-secondary role-status-<%= role.status.downcase %>">
                  <%= role.status %>
                </small>
                <p class="card-text"><%= role.notes.truncate(100) %></p>
              </div>
              <div class="card-footer text-end">
                <small class="opacity-50 text-nowrap role-updated-at">
                  <%= distance_of_time_in_words(role.updated_at, Time.now)%>
                </small>
              </div>
            </a>
          </div>
          
        </div>
    <% end %>
  </div>
</div>
