<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
    <li class="breadcrumb-item">
      <a class="link-body-emphasis fw-semibold text-decoration-none" href="/">Roles</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @role.title %>
    </li>
  </ol>
</nav>

<div>

  <div class="row">

    <div class="col-sm-3">
      <h3 class="fw-bold mb-0 fs-4"><%= @role.title %></h3>
      <small class="opacity-50 text-nowrap role-status"><%= @role.status %></small>
    </div>

    <div class="col-sm-7">
      <p>Notes: <%= @role.notes %></p>
      
    </div>

    <div class="col-sm-2">
      <div>
        <%= link_to "Edit", edit_role_path(@role) %>
        <%= link_to "Delete", @role, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
