<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
    <li class="breadcrumb-item">
      <a class="link-body-emphasis fw-semibold text-decoration-none" href="/">Roles</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @role.title %>
    </li>
  </ol>
</nav>

<div>

  <div class="row">

    <div class="col-sm-3">
      <h3 class="fw-bold mb-0 fs-4"><%= @role.title %></h3>
      <p>
        <small class="opacity-50 text-nowrap role-status"><%= @role.status %></small>
      </p>

      <div class="d-grid gap-2">
        <%= link_to "Edit", edit_role_path(@role), class: "btn btn-secondary btn-sm" %>
        <%= link_to "Delete", @role, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-dark btn-sm" %>
      </div>
    </div>

    <div class="col-sm-7">
      <h3 class="role-sub-header">Notes:</h3>
      
      <p><%= @role.notes %></p>
      
      <div class="action-form">

        <div class="b-example-divider"></div>
        <div class="card-body actions">
          <h6>Log Entries</h6>
          <%= render @role.logentries %>
        </div>

        <div class="b-example-divider"></div>
        <h6>Create a new one</h6>
        <%= render 'logentries/form' %>

      </div>
    </div>

    <div class="col-sm-2 text-end">
      <p>
        <small class="opacity-50 text-nowrap role-updated-at">Modified<br /><%= @role.updated_at.strftime("%D - %H:%I:%M") %></small>
      </p>
      <p>
        <small class="opacity-50 text-nowrap role-created-at">Created<br /><%= @role.created_at.strftime("%D - %H:%I:%M") %></small>
      </p>
    </div>
  </div>
