<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
    <li class="breadcrumb-item">
      <a class="link-body-emphasis fw-semibold text-decoration-none" href="/">Roles</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @role.title %>
    </li>
  </ol>
</nav>

<div>

  <div class="row">

    <div class="col-sm-3">
      <h3 class="fw-bold mb-0 fs-4"><%= @role.title %></h3>
      <small class="opacity-50 text-nowrap role-status"><%= @role.status %></small>
    </div>

    <div class="col-sm-7">
      <h3 class="role-sub-header">Notes:</h3>
      <p><%= @role.notes %></p>
      
      <div class="b-example-divider"></div>

      <div class="action-form">

        <%= form_with model: [ @role, @role.logentries.build ] do |form| %>
          <div class="mb-5">
            <%= form.label :entry_type, { class: "form-label"} %>
            <%= form.text_field :entry_type, { class: "form-control", placeholder: "type" } %>
          </div>
          <div class="mb-5">
            <%= form.label :body, { class: "form-label"} %>
            <%= form.text_field :body, { class: "form-control", placeholder: "..." } %>
          </div>
          <%= form.submit "Submit", class: "btn btn-primary" %>
        <% end %>

        <div class="card-body actions">
        
          <h2>Actions</h2>
          <% @role.logentries.each do |entry| %>
            <p>
            <span class=""><%= entry.entry_type %></span> - 
            <span><%= entry.body %></span>
            </p>
          <% end %>

        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div>
        <%= link_to "Edit", edit_role_path(@role) %>
        <%= link_to "Delete", @role, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
