<%= form_with model: [ @role, @role.logentries.build ] do |form| %>
  <div class="mb-5">
    <%= form.label :entry_type, { class: "form-label"} %>
    <%= form.text_field :entry_type, { class: "form-control", placeholder: "type" } %>
  </div>
  <div class="mb-5">
    <%= form.label :body, { class: "form-label"} %>
    <%= form.text_field :body, { class: "form-control", placeholder: "..." } %>
  </div>
  <%= form.submit "Submit", class: "btn btn-primary" %>
<% end %>