<%= form_with model: [ @role, @role.logentries.build ] do |form| %>

 
    <div class="mb-2">
      <%= form.select :entry_type, ["Manual", "System"] %>
    </div>
    <div class="mb-2">
      <%= form.text_area :body, { class: "form-control", placeholder: "body" } %>
    </div>
  
  <div class="btn-group" role="group">
    <%= form.submit "Save", class: "btn btn-secondary btn-sm" %>
    <%= link_to "Cancel", @role, class: "btn btn-dark btn-sm" %>
  </div>

<% end %>