<!DOCTYPE html>
<html>
  <head>
    <title>JobHunt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <div class="container">
      

      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <h2 class="display-6 role-header">Job Hunt 🎯</h2>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item">
            <span class=" align-bottom">
              <a href="/roles/new" class="nav-link">Create a Role</a>
            </span>
            </li>
        </ul>
    </header>

      <%= yield %>
    </div>
  </body>

</html>
